<footer class="footer">
  <div class="footer-left-section">
    <div>
      <img class="footer-logo" src="./logo.png" alt="BookMe Logo" />
      <h1 class="brand-title">BookMe</h1>
    </div>
    <p>
      Plan your next journey effortlessly from Homagama. Book bus rides online
      with ease and convenience, saving time and ensuring a stress-free travel
      experience. Your next adventure is just a few clicks away!
    </p>
  </div>
  <div class="footer-middle-section">
    <ul>
      <a href="#"
        >&rsaquo;
        <li>Home</li></a
      >
      <a href="#"
        >&rsaquo;
        <li>About Us</li></a
      >
      <a href="#"
        >&rsaquo;
        <li>Services</li></a
      >
    </ul>
  </div>
  <div class="footer-right-section">
    <ul>
      <a href="#"
        >&rsaquo;
        <li>Privacy Policy</li></a
      >
      <a href="#"
        >&rsaquo;
        <li>Help</li></a
      >
    </ul>
  </div>
</footer>
