<nav class="navbar">
  <div class="left-section">
    <img class="nav-logo" src="logo.png" alt="BookMe Logo" />
    <h1 class="brand-title">BookMe</h1>
  </div>
  <ul class="middle-section">
    <a href="/"><li>Home</li></a>
    <a href="#"><li>About Us</li></a>
    <a href="/services"><li>Services</li></a>
    <a href="#"><li>Help</li></a>
  </ul>
  <div class="action-buttons">
    <input class="btn btn-primary" type="button" value="Sign In" />
    <input class="btn btn-secondary" type="button" value="Sign Up" />
  </div>
</nav>
