.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .register-box {
    background: rgb(233, 227, 211);
    opacity: 0.8;
    backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2rem;
    width: 350px;
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  }

  .register-box h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: black;
  }

  .input-container {
    position: relative;
    margin-bottom: 1.2rem;
    margin-right: 3.0rem;
    color: #000;
  }
  
  .input-container input {
    width: 100%;
    padding: 0.8rem 2.5rem 0.8rem 1rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    background-color: rgb(234, 200, 166);
  }

  .input-container ::placeholder{
    color: #000;
  }
 
  .register-button {
    background-color: rgb(194, 110, 46);
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 25px;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .register-button:hover {
    background-color: #ddd;
  }

  .login-link {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .login-link a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  