<div class="register-container">
    <div class="register-box">
      <h2>Register</h2>
      <div class="input-container">
        <input type="text" placeholder="Full Name">
      </div>
      <div class="input-container">
        <input type="email" placeholder="Email">
      </div>
      <div class="input-container">
        <input type="phone" placeholder="Phone number">
      </div>
      <div class="input-container">
        <input type="password" placeholder="Password">
      </div>
      <div class="input-container">
        <input type="password" placeholder="Confirm Password">
      </div>
      <button class="register-button">Register</button>
      <div class="login-link">
        <p>Already have an account? <a href="#">Login</a></p>
      </div>
    </div>
  </div>
  