.main-wrapper{
  background-image: url("/bus-sunset.png");
  background-size: cover;
  background-position: center;
}

.container{
  margin: auto 2rem;
  padding-bottom: 2rem;
}

.page-title{
  text-align: center;
  color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.page-sub-heading{
  text-align: center;
  color: #ffffff;
}

.services-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  color: #ffffff;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2rem;
  flex-direction: row;
}

.service-card{
  box-shadow: 2px 2px 10px #00000020;
  min-width: 260px;
  max-width: 260px;
  padding: 1rem;
  background-color: #ffffff80;
  backdrop-filter: blur(2rem);
  border-radius: 0.5rem;
  border: 1px solid #00000020;
  transition: color ease;
}

.service-card:hover{
  border: 1px solid #ffffff80;
}

.service-icon-wrapper{
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 187, 0);
  padding: 1.5rem;
  border-radius: 50%;
}

.service-icon{
  position: relative;
  width: 40px;
}

.service-title{
  color: #212121;
  text-align: center;
  margin-top: 1rem;
}

.service-description{
  color: #232323;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
