<main class="main-wrapper">
  <div class="container">
    <h2 class="page-title">Services</h2>
    <p class="page-sub-heading">
      Our Complete Travel Services That Covers All Your Transportation Needs
    </p>
    <!-- Services -->
    <div class="services-wrapper">
      <div class="service-card">
        <div class="service-icon-wrapper">
          <img
            src="/education-icon.png"
            class="service-icon"
            alt="Service Logo"
          />
        </div>
        <h3 class="service-title">Student Travel</h3>
        <p class="service-description">
          We provide reliable and affordable transportation solutions for
          students of all levels.
        </p>
        <p class="service-description">
          We offer flexible booking options and competitive pricing. Our
          dedicated student services ensure a safe and enjoyable travel
          experience.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon-wrapper">
          <img
            src="/corporate-icon.png"
            class="service-icon"
            alt="Service Logo"
          />
        </div>
        <h3 class="service-title">Corporate Travel</h3>
        <p class="service-description">
          Our corporate travel services are designed to meet the unique needs of
          businesses.
        </p>
        <p class="service-description">
          We offer efficient and cost-effective transportation solutions for
          employee commutes, business meetings, conferences, and client
          transportation.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon-wrapper">
          <img src="/event-icon.png" class="service-icon" alt="Service Logo" />
        </div>
        <h3 class="service-title">Event Transport</h3>
        <p class="service-description">
          We provide a wide range of transportation options for all types of
          events, from weddings and corporate events to festivals and concerts.
        </p>
        <p class="service-description">
          Our experienced team will work with you to plan and execute seamless
          transportation logistics.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon-wrapper">
          <img
            src="/payment-icon.png"
            class="service-icon"
            alt="Service Logo"
          />
        </div>
        <h3 class="service-title">Payment Options</h3>
        <p class="service-description">
          We offer a variety of convenient payment options to suit your needs.
          Choose from online payments, cash on delivery, corporate billing, and
          other flexible options.
        </p>
        <p class="service-description">
          We strive to make the booking and payment process as easy and
          hassle-free.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon-wrapper">
          <img src="/shield-icon.png" class="service-icon" alt="Service Logo" />
        </div>
        <h3 class="service-title">Travel Insurance</h3>
        <p class="service-description">
          Travel with confidence! Our comprehensive travel insurance covers
          unexpected events like trip cancellations, medical emergencies, lost
          baggage, and more.
        </p>
        <p class="service-description">
          Enjoy your journey knowing you're protected against the unexpected.
        </p>
      </div>
    </div>
  </div>
</main>
