<div class="profile-container">
    <div class="profile-box">
      <div class="user-details">
        <h2>Welcome, Bina Jayakody</h2>
        <p><strong>Email: binajaya123&#64;gmail.com</strong></p>
        <p><strong>Phone: +94 770 673 407</strong> </p>
      </div>
      <div class="action-buttons">
        <button class="edit-button">Edit Profile</button>
      </div>
    </div>
    <div class="booking-history">
      <h3>Booking History</h3>
      <table>
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>Route</th>
            <th>Date</th>
            <th>Seat</th>
            <th>Bus Number plate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#12345</td>
            <td>Pettah - Homagama</td>
            <td>2024-05-15</td>
            <td>L12</td>
            <td>WP - 4821</td>
          </tr>
          <tr>
            <td>#12346</td>
            <td>Kadawatha - Homagama</td>
            <td>2024-05-20</td>
            <td>R8</td>
            <td>WP - 4597</td>
          </tr>
          <tr>
            <td>#12347</td>
            <td>Moragahahena - Kottawa</td>
            <td>2024-06-10</td>
            <td>B4</td>
            <td>WP - 5102</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  